{% extends 'base.html' %}

{% block content %}

    <style>

        .testing {
            background-color: yellow;
            height: 48px;
            width: 48px;
            border-radius: .5rem;
            margin: 1.5rem;
        }

    </style>

<div style="text-align: center; height: 20rem; background-color: mediumaquamarine; border-right: 1rem; margin: 2rem;">
    <div>
        <h1 style="color: red;">I'm hungry</h1>
    </div>

    <div class="'testing" style="display: block">block</div>
    <div class="'testing" style="display: inline">inline</div>
    <div class="'testing" style="display: inline-block">inline-block</div>
    <div class="'testing" style="display: none">none</div>
    <div class="'testing">default</div>

    <div>
        <h1 style="color: red;">I'm hungry!</h1>
    </div>
    <div>
        <h1 style="color: red;">I'm hungry!!</h1>
    </div>
    <div>
        <h1 style="color: red;">I'm hungry!!!</h1>
    </div>
    <div>
        <h1 style="color: red;">I'm hungry!!!!</h1>
    </div>

</div>

{% endblock %}