{% extends 'base.html' %}

{% block content %}

{#    <style>#}
{##}
{#        .testing {#}
{#            background-color: yellow;#}
{#            height: 48px;#}
{#            width: 48px;#}
{#            border-radius: .5rem;#}
{#            margin: 1.5rem;#}
{#        }#}
{#    </style>#}

{#<div style="text-align: center; height: 20rem; background-color: mediumaquamarine;#}
{#border-radius: 1rem; margin: 2rem; overflow: hidden;">#}
<div style="margin: 2rem; text-align: center">
    <h1 style="color: red;">METHOD</h1>

{#    <div class="'testing" style="display: block">block</div>#}
{#    <div class="'testing" style="display: inline">inline</div>#}
{#    <div class="'testing" style="display: inline-block">inline-block</div>#}
{#    <div class="'testing" style="display: none">none</div>#}
{#    <div class="'testing">default</div>#}
{#       <div class="testing" style="display: inline-block">block</div>#}
{#       <div class="testing" style="display: inline-block; width: 3rem; height: 3rem">block</div>#}
{#       <div class="testing" style="display: inline-block; width: 3em; height: 3em">block</div>#}
{#       <div class="testing" style="display: inline-block; width: 30%; height: 30%">block</div>#}

{##}
{#    <div>#}
{#        <h1 style="color: red;">I'm hungry!</h1>#}
{#    </div>#}
{#    <div>#}
{#        <h1 style="color: red;">I'm hungry!!</h1>#}
{#    </div>#}
{#    <div>#}
{#        <h1 style="color: red;">I'm hungry!!!</h1>#}
{#    </div>#}
{#    <div>#}
{#        <h1 style="color: red;">I'm hungry!!!!</h1>#}
{#    </div>#}

    <h3>{{ text }}</h3>

</div>

{% endblock %}