{% extends 'base.html' %}

{% block content %}

<div style="text-align: center; height: 20rem; background-color: black; border-right: 1rem; margin: 2rem;">
    <div>
        <h1 style="color: red;">I'm hungry</h1>
    </div>
    <div>
        <h1 style="color: red;">I'm hungry!</h1>
    </div>
    <div>
        <h1 style="color: red;">I'm hungry!!</h1>
    </div>
    <div>
        <h1 style="color: red;">I'm hungry!!!</h1>
    </div>
    <div>
        <h1 style="color: red;">I'm hungry!!!!</h1>
    </div>
    <div>
        <h1 style="color: red;">I'm hungry!!!!!</h1>
    </div>

</div>

{% endblock %}