<div style="text-align: center;">

    <div class="pragmatic_header_logo">
    {#    font-family에서 'Pacifico' 폰트가 적용되지 않을 시 'cursive'를 사용해라. 라는 의미    #}
        <h1>
            <a href="{% url 'articleapp:list' %}">
                5ban Park's class
            </a>
        </h1>
    </div>
    <div class="pragmatic_header_button">
        <span>
            <a href="{% url 'articleapp:list' %}">
                Articles
            </a>
        </span>
        <span>
            <a href="{% url 'projectapp:list' %}">
                Projects
            </a>
        </span>
        {% if user.is_authenticated %}
        <span>
            <a href="{% url 'subscribeapp:list' %}">
                Subscription
            </a>
        </span>
        {% endif %}

        {% if not user.is_authenticated %}
        <span>
            <a href="{% url 'accountapp:login' %}">
                Login
            </a>
        </span>
        <span>
            <a href="{% url 'accountapp:create' %}">
                SignUp
            </a>
        </span>
        {% else %}
        <span>
            <a href="{% url 'accountapp:detail' pk=user.pk %}">
                Mypage
            </a>
        </span>
        <span>
            <a href="{% url 'accountapp:logout' %}">
                Logout
            </a>
        </span>

        {% endif %}
    </div>

</div>